[2020-11-24 10:48] AnandBaburajan opened #161 "Architecture"

[2020-11-24 10:52] anandbaburajan opened #1 "Wireframe"
https://www.figma.com/file/1nc8JolUmTO03mDiuPGISp/Rocketmeet-prototype

@anaswaratrajan thanks! Looks good! It misses some buttons here and there and some features but we'll figure it out when we discuss the UI in detail on our next meet!

[2020-11-25 14:46] AthulJoshi opened #139 "Mailing system."
After some searches, I found that nodemailer can be used to send mails and that it is also used for production applications. Basically it stands in between an SMTP server and the reciever (gmail without using a dedicated SMTP server can be used temporarily during initial stage). We can send custom html messages as per the designs which would be suggested by the UI team.

I wrote a sample api while

[2020-11-27 05:01] iamAravindks opened #162 "User Authentication"

[2020-12-01 18:29] anastr0 opened #2 "Client"
@VipinVIP and me have decided to go with [nextjs](https://nextjs.org/docs/getting-started) for the client. It offers pre-rendering and code-splitting which are good for UX. Haven't decided whether to use bootstrap or styled components. Will decide soon and let you know before we're done with the basic layout and routing ready.

@twentyse7en I think it's best if we deploy the client in vercel, a pl

[2020-12-02 14:34] twentyse7en opened #160 "Deployment and CI/CD"

[2020-12-21 14:28] BreadGenie opened #4 "Time slot Picker and UI"
The slot picking UI while creating a poll will have check boxes to pick multiple time ranges and will look something like this (but much prettier)

![Screenshot from 2020-12-21 19-56-10](https://user-images.githubusercontent.com/63963181/102787153-9fe36e80-43c6-11eb-8128-c5f168696526.png)

The time slot poll for other users will look like this (but much prettier)

![Screenshot from 2020-12-21 19-5

[2020-12-23 02:45] AnandBaburajan opened #159 "Add schema validation"

[2020-12-23 02:50] AnandBaburajan opened #158 "Add API documentation"

[2020-12-23 02:53] AnandBaburajan opened #157 "Add a proper README"

[2020-12-25 11:13] #159 closed

[2020-12-25 11:14] #161 closed

[2020-12-26 13:17] anandbaburajan opened #5 "Allow creators to input people's timezones to check availability"
Before choosing candidates, the poll creator could be given an option to enter timezones of all participants. Then while choosing candidates, the app could help the creator know (maybe in a tooltip) what time the hovered candidate would be in others' timezones.

[2021-01-03 02:34] #4 closed, assigned to nobody

[2021-01-07 07:51] #160 closed

[2021-01-08 18:57] anastr0 opened #21 "Unit tests"
@VipinVIP @iamAravindks @BreadGenie
I've setup jest and enzyme. After discussion with @AnandBaburajan, decided we need tests to check the following

- [ ] Auth and private routing
- [ ] Mock all fetches
- [ ] Slot-ui component

We won't be testing all the components. I hope all of you will help us in writing tests and optimisations to the mvp. Feel free to suggest other core areas we need to test.

[2021-01-17 19:27] #157 closed

[2021-01-22 23:23] anastr0 opened #28 "Auth "auth/unauthorized-domain""
@iamAravindks
Upon trying to login, I get the following console error. Can you try doing as mentioned in the message.

`This domain (rocket-meet-client-nant90sk3.vercel.app) is not authorized to run this operation. Add it to the OAuth redirect domains list in the Firebase console -> Auth section -> Sign in method tab."`

When we get the custom domain, add that too

![auth-unauthoriseddomain](https

[2021-01-24 03:38] #139 closed, assigned to nobody

[2021-01-27 08:03] AnandBaburajan opened #156 "Mock firebase token generation and fix user route tests"
Currently the `user` route tests have been skipped due to difficulties with mocking firebase with jest

[2021-01-27 12:53] #162 closed

[2021-01-27 17:08] AnandBaburajan opened #155 "Fix the Node.js CI workflow for PRs"

[2021-01-27 17:14] #2 closed, assigned to nobody

[2021-01-27 17:14] #1 closed, assigned to nobody

[2021-01-27 17:16] AnandBaburajan opened #37 "Time-slot component on create-poll not working as expected on mobile"
The react-available-times component has some isses on mobile like not being able to adjust the interval or move the slots around. This would require some PRs at the react-available-times' upstream. It's quite old and throws some deprecation warnings too.

[2021-01-27 17:17] #28 closed, assigned to nobody

[2021-01-27 17:24] AnandBaburajan opened #38 "Send final meet time to votes via mailer"
This sounds like a good feature. Currently only invites to vote can be sent.

[2021-01-29 07:10] #158 closed

[2021-01-30 08:32] AnandBaburajan opened #45 "Don't allow poll creators to choose times in the past"
Would need some modifications in react-available-times. We can also disable times in past on the poll page.

[2021-01-30 18:19] AthulJoshi opened #55 "Add delete poll option."
Delete polls is a much needed option. The polls would pile up over time.

[2021-01-30 18:44] anaswaratrajan opened #56 "Dark Mode"
Everyone needs Dark Mode!

[2021-01-30 18:45] VishnuSanal opened #57 "Email lists do not get cleared after sending emails"
Currently, the list of emails aren't getting cleared after the user sends an email

It needs to be cleared every time the user presses the _Invite_ button, so it would not lead to sending of multiple emails

[2021-01-30 19:14] anaswaratrajan opened #60 "Send meet invites after poll is closed"
- Once the poll is closed, and author has selected the final available time for the meet event, there should be a component to invite participants to the final event.
- #40 Already took care of the fetcher in `MailerAPI`
- We could seperate and reuse the invite part from `share-invite` component

[2021-01-31 07:28] AnandBaburajan commented on #38
Closing since #60 has been opened and assigned

[2021-01-31 07:28] #38 closed

[2021-01-31 07:37] anaswaratrajan opened #61 "Better error handling needed"
- The app needs better error handling in some pages.
 For example, there was a network issue that broke the firebase signin popup. But I didn't get a feedback.
 Similar issues are seen in `/poll/[poll-id]` also.

[2021-01-31 07:47] anaswaratrajan opened #62 "UI redesign"
- The webapp needs improvements in it's design.
- It lacks a `features` section and an `about` page

- `Footer`
- `Popovers` on components for first use

[2021-01-31 07:56] #57 closed

[2021-01-31 10:54] anaswaratrajan opened #64 "“redux-persist failed to create sync storage. falling back to noop storage.”"
On `development`, getting the warning
[code]

[2021-01-31 11:01] anaswaratrajan opened #65 "Shell script to run all the development servers locally"
**Have to manually run the 3 different servers and `mongod` at once**
- For `development`, developer needs to setup and start [RocketMeet-server](https://github.com/RocketMeet/RocketMeet-server), [RocketMeet-mailer](https://github.com/RocketMeet/RocketMeet-mailer) and a `mongod` connection before starting Rocketmeet-client development server with `npm run dev`

**Solution: shell script to start al

[2021-01-31 11:38] AnandBaburajan commented on #61
I got that too. Sometimes the popup closes on its own without letting me login.

[2021-01-31 18:13] anaswaratrajan commented on #61
@AnandBaburajan I've handled the network error in #66

[2021-02-01 05:33] AnandBaburajan commented on #55
Fixed in #70

[2021-02-01 05:33] #55 closed

[2021-02-01 06:29] #61 closed

[2021-02-01 07:46] anaswaratrajan commented on #64
https://github.com/rt2zz/redux-persist/issues/1208 It's an open issue from `redux-persist`. Issue doesn't seem to affect the functionality of the app.

[2021-02-01 11:43] AnandBaburajan commented on #60
Closing since #69 fixed this

[2021-02-01 11:43] #60 closed

[2021-02-01 16:01] anandbaburajan opened #140 "Tests & CI"
There should be necessary tests to check the mailer along with auth. GitHub Acttions can be used to setup CI.

[2021-02-02 06:32] #156 closed

[2021-02-02 14:31] AnandBaburajan opened #77 "Show poll count on the homepage"
It would be attractive to show the poll count on the homepage. The server's pollCount endpoint can be used for the same.

[2021-02-02 14:34] AnandBaburajan opened #78 "Comma-separation handler on poll pages not working on mobile"
From reports by different users, it looks like it could be a browser-related issue too.

[2021-02-02 14:40] anandbaburajan opened #141 "Provide a one-click Heroku deployment button"
https://devcenter.heroku.com/articles/heroku-button would help.

[2021-02-02 14:40] anandbaburajan opened #154 "Provide a one-click Heroku deployment button"
https://devcenter.heroku.com/articles/heroku-button would help.

[2021-02-02 18:54] #45 closed

[2021-02-03 12:23] AthulJoshi opened #142 "Improve the e-mail templates."
The current templates are just basic ones. More improvements can be made.

[2021-02-03 22:03] AnandBaburajan opened #150 "Containerize RocketMeet-server"
https://github.com/nodejs/docker-node/blob/master/docs/BestPractices.md would help too.

[2021-02-03 22:04] AnandBaburajan opened #143 "Containerize RocketMeet-mailer"

[2021-02-03 22:12] anandbaburajan opened #86 "Containerize Kukkee"
Containerize Kukkee

[2021-02-04 10:09] #155 closed

[2021-02-09 10:25] AnandBaburajan commented on #62
* A row with 3-4 columns (boxes) describing how-to use RocketMeet on the homepage
* Look into properly using `vw`/`rem` for font-sizes and different components

[2021-02-10 08:11] VishnuSanal opened #92 "A button to clear all selections in calendar"
Currently, if we need to clear the selections we've made in the calendar, we should clear them one by one

A button like _Clear All Selections_ the would come in handy in the _Create Poll_ page

[2021-02-10 08:13] VishnuSanal opened #93 "Add spinner to Invite Button"
Adding of a spinner to _Send Button_ in _Create Poll Page_ would lead to enhanced UX

[2021-02-10 09:50] AnandBaburajan opened #94 "Fix "unable to fetch polls" in dashboard"
Logging in into the dashboard after a while (an hour) results in an "unable to fetch polls" error.

[2021-02-10 10:10] VishnuSanal commented on #37
It would be great if the time slot component scrolls to the current time :)

[2021-02-18 08:15] AnandBaburajan opened #95 "Send email notifications to poll creator on new votes"
The poll creator could be sent email notifications everytime someone votes on their poll. A suggestion by the wonderful people at @Frappe :D

[2021-02-20 20:29] sidmohanty11 opened #96 "Adding of a footer element"
for making company look more to the poitn and showing valid information about company?

[2021-02-20 20:36] anaswaratrajan commented on #96
@sidmohanty11 We've mentioned the same in #62 along with some other components that we lack and working on it. You are more than welcome to help us! :D

[2021-02-23 16:35] AnandBaburajan opened #97 "SEO for RocketMeet"
https://developers.google.com/search/docs/beginner/seo-starter-guide might help

[2021-03-05 07:30] AnandBaburajan opened #98 "An About page"
It would be nice to have an about page on the site with details about our team, our vision, etc.

[2021-03-05 13:44] yashvb commented on #98
can you assign me

[2021-03-05 14:02] AnandBaburajan commented on #98
Hi @yashvb, thanks! But please note that if you're a GSSoC participant, only the contributions from March 8 onwards would be counted.

[2021-03-05 14:20] yashvb commented on #98
Im not but question do you want about page in client repo? And what type of file

[2021-03-05 14:28] anaswaratrajan commented on #98
@yashvb Thanks for your interest in contributing! Refer this [documentation page](https://nextjs.org/docs/basic-features/pages) to understand how pages are created in a [Nextjs](https://nextjs.org/) app.

[2021-03-06 15:36] Amit366 commented on #93
Can I work on this issue? I am a GSSOC participant.

Is it like a loading spinner?

[2021-03-06 17:19] anaswaratrajan commented on #93
Hi @Amit366. You can work on this. The send button is in `rocketmeet.me/poll/[pollid]`. Just use a loading spinner from [React-bootstrap](https://react-bootstrap.github.io/) until response from mailer is received.

https://github.com/RocketMeet/RocketMeet-client/issues/98#issuecomment-791437998

[2021-03-08 13:11] joelerego opened #149 "Host RocketMeet-server on a staging server"
A staging server would make it easier to -
1. Make frontend contribs by cloning and running only the Rocketmeet-client repo.
2. Test new or revised API endpoints across machines before they are pushed to prod.

[2021-03-08 16:00] RituCs commented on #96
hey, I would like to contribute on this issue.Please assign it to me

[2021-03-08 17:32] Amit366 commented on #93
Is it under gasoc? If yes please add the tag

[2021-03-08 17:48] subhangi2731 commented on #95
can you please assign this issue to me?

[2021-03-08 17:49] subhangi2731 commented on #92
can you please assign this issue to me?

[2021-03-08 17:52] subhangi2731 commented on #77
can you please assign this issue to me?

[2021-03-08 18:05] AnandBaburajan commented on #93
We haven't received official instructions on labels yet. I think we'll add them tomorrow after the GSSoC meeting. You're also suggested to join our Gitter chatroom.

[2021-03-08 18:07] AnandBaburajan commented on #96
Thanks @RituCs! You're also suggested to join our Gitter chatroom. Link can be found in our readme.

[2021-03-08 18:17] AnandBaburajan commented on #77
Hi @subhangi2731! We see you're interested in handling quite a lot of issues which is great. But it would be better if you picked just 3 of these for now and leave some of these easy issues to some of the other contributors :) We've some new ideas incoming too! You're also suggested to join our Gitter chatroom too. Let us know at Gitter which 3 you choose to take up first. Thanks!

[2021-03-09 11:28] manishprivet commented on #56
Hi, can you assign this issue to me? I would like to work in it

[2021-03-09 11:46] manishprivet commented on #56
My approach for dark mode was by using css variables, and changing those variables through a single button, all blackboxed in a single component. It doesn't require the MVP to be finished. We can assign those variables to the MVP later on too

[2021-03-09 11:53] AnandBaburajan commented on #56
Sounds good, but to be open with you, the styling parts of our code don't follow best practices. We don't have a dedicated UI/UX member on our team so the CSS might be troublesome to you. So we were thinking about reworking on the CSS. Can you go through our CSS and let us know what you think? You're also suggested to join our Gitter chatroom by the way. Thanks!

[2021-03-09 12:02] AnandBaburajan commented on #62
Currently we don't follow good CSS and Bootstrap practices because of lack of having a dedicated UI/UX dev on our team. So we need to rework on those parts!

[2021-03-09 13:29] anaswaratrajan commented on #37
@AnandBaburajan @VipinVIP @BreadGenie What do you guys think of building a custom time-slot UI from scratch? Or utilise libraries like moment.js or moment-timezone.js to implement a custom UI? I feel like r-a-t could be a dead-end for us if need for more features in the future.

[2021-03-09 13:37] AnandBaburajan commented on #37
@anaswaratrajan that would require building a component similar to r-a-t plus more features from scratch. So what do you think about contributing to r-a-t and enhancing it instead?

[2021-03-09 15:43] BreadGenie commented on #37
imo this is better unless the time slot component's evolution is supposed to be different from r-a-t
I'll start working on it after exams (add type and other stuff)

[2021-03-09 17:53] anaswaratrajan commented on #78
Currently email tags are formed only if comma-delimited. Forming tags for more keypress events like tab, space and enter could prove user-friendly and intuitive. @VipinVIP @AnandBaburajan What do you think?

[2021-03-09 18:04] mohdjameel2412 commented on #98
please assign me

[2021-03-09 19:35] mohdjameel2412 commented on #92
please assign it to me under gssoc21

[2021-03-10 06:51] viveknathani commented on #65
Hello. Can you assign this issue to me? I have written shell scripts in the past. If I understand it correctly, the order of execution of starting servers should be,
1. starting the mongod service
2. starting the RocketMeet-server
3. starting the RocketMeet-mailer
4. starting the RocketMeet-client

[2021-03-10 07:20] AnandBaburajan opened #100 "Setup a Github action to show ESLint errors in PRs"
Here's an option: https://dev.to/jnybgr/how-to-visualize-eslint-errors-on-github-3f8p. Feel free to share better ones!

[2021-03-10 07:21] AnandBaburajan opened #144 "Setup a Github action to show ESLint errors in PRs"
Here's an option: https://dev.to/jnybgr/how-to-visualize-eslint-errors-on-github-3f8p. Feel free to share better ones!

[2021-03-10 07:21] anandbaburajan opened #153 "Setup a Github action to show ESLint errors in PRs"
Here's an option: https://dev.to/jnybgr/how-to-visualize-eslint-errors-on-github-3f8p. Feel free to share better ones!

[2021-03-10 07:52] BreadGenie commented on #65
In my opinion 1st option is better than 2nd since developers would rather clone repositories in the same directory than fill out the path in the script
also we can put that in the setup instructions if we go by option 1
@AnandBaburajan @anaswaratrajan  what do you guys think?

[2021-03-10 09:49] anaswaratrajan commented on #65
Yep, you can go with option 1, but I recommend writing another script with option 2 for those who might have placed the repositories in different directories.

Also, how do you plan on starting multiple servers from the same script?

[2021-03-10 10:27] viveknathani commented on #65
Instead of writing another script, could I allow two command line arguments to be processed?
$1 for RocketMeet-server's path.
$2 for RocketMeet-mailer's path.

The idea is to run the relevant commands using '&'.
Example:
[code]
The problem here is the order of execution becomes nondeterministic as running the process goes into the hands of the CPU scheduler.

The workaround I could think for this

[2021-03-10 10:43] AnandBaburajan commented on #65
Just curious, do we really need to run the services in a particular order? The server can wait for mongod to start and then make the connection, right? So can't they all be started in parallel? Please explore and let us know if that's not a recommended practice. On a related note, @PushkarDureja is looking into using Docker Compose for RocketMeet too.

[2021-03-10 11:20] viveknathani commented on #65
@AnandBaburajan yes you are right about the order part. I could not find anything about parallel running not being a recommended practice. So I guess I could proceed without preserving the order? Also, I am not aware about usage of Docker so I cannot understand what you mean to imply in the end.

[2021-03-10 11:24] AnandBaburajan commented on #65
Thanks for looking into it!

Yep, and let us know if there are any issues.

Docker Compose is used to run multiple containers as a single service so users would have the option to use that to run RM.
You don't need to worry about it now. Just a different way to solve the same issue.

[2021-03-10 12:07] viveknathani commented on #65
All right. I made the PR.

[2021-03-10 13:14] aysp-99 commented on #100
Hi. I would like to work on this issue.

[2021-03-10 13:29] AnandBaburajan commented on #100
Sure @aysp-99, thanks!

[2021-03-10 15:45] PushkarDureja commented on #95
Can I try to solve this issue if it is not already assigned ? @AnandBaburajan

[2021-03-10 19:18] #65 closed

[2021-03-10 19:59] namansamra opened #102 "Private, protected and public modes"
I came up an issue that when a poll is created and shared .
A user(without even login) can give his/her selection any number of times with fake names. This might be a cautious security issue because any user can give many opinion on the poll which can even ruin the purpose of poll.

Please correct me if I am wrong. @AnandBaburajan

[2021-03-11 02:46] anaswaratrajan commented on #102
Hi @namansamra ! It was intentional. The poll page is accessible by the public and anyone can poll anonymously (just like normal polls). Besides, the poll author can pick the feasible time for himself from the other votes if ignore the anonymous votes from fake names. I see no security issue here. But, thanks for bringing your worry to us! :D

PS. The only issue I see here is if someone voted as a

[2021-03-11 03:29] AnandBaburajan commented on #102
We let people vote without logging in to make it quick for them and we went with this decision because Doodle does it the same way. Though I think this approach is fine if the voters are trustworthy, the downsides mentioned here are indeed worth looking into. I think we should discuss this at our Gitter chatroom and let everyone chime in! Thanks for bringing this up!

[2021-03-11 07:03] AnandBaburajan opened #103 "Create Google calendar event after finalising time"
Once the poll creator chooses the final time, create a Google Calendar event and invite the voters as guests.

[2021-03-11 07:10] AnandBaburajan opened #104 "Connect calendars"
It would be helpful for the poll creator if we could show them which slots are already occupied (via their Google calendar). I'm not sure if we can modify `react-available-times` for this purpose. Might need to embed a calendar otherwise. Are there more solutions? Let us know!

[2021-03-11 07:11] AnandBaburajan opened #105 "Integrate calendar into poll voting page"
It would be helpful for the voter if we could show them which slots are already occupied (via their calendar).

[2021-03-11 07:29] AnandBaburajan opened #106 "Discussion: data privacy"
Presently all the data: the meeting name, times and participants' names are stored in our database. Is there a solution to this? I think we could let Google store their data via Calendar, but not sure what's best for the users. https://twitter.com/dan_abramov/status/1369500909789675520 haha.

[2021-03-11 07:36] namansamra commented on #102
@AnandBaburajan
So as per gitter discussion on this issue a possible solution would be :
There will me three modes for creating pole:

1.Public mode:
-Any user with that link can share his opinion on the pole.
-It works well when we have a guest user or the intention of the poll is to get the opinion of mass users.

2.Protected mode:
-A user must be logged in to vote on the poll.
-A user can vote

[2021-03-11 10:55] AnshMishra2001 commented on #106
Can I work on this issue?

[2021-03-11 10:57] AnandBaburajan commented on #106
Hey @AnshMishra2001! Thanks! This is a discussion so you can suggest your ideas and solutions. You're welcome to implement the solution too if we find a good one!

[2021-03-11 11:01] AnshMishra2001 commented on #105
Can I start working on this issue, till we arrive at a conclusion regarding the discussion issue ?

[2021-03-11 11:05] AnandBaburajan commented on #105
Sure, thanks! Let us know your ideas and queries at our chatroom!

[2021-03-11 16:15] AnandBaburajan commented on #62
Does anyone recommend https://bulma.io/?

[2021-03-11 17:06] namansamra commented on #78
@AnandBaburajan  I would like to implement this keypress functionality . Could you assign it to me?

[2021-03-11 21:12] GuptaTanisha commented on #103
@AnandBaburajan Please assign this to me

[2021-03-12 04:02] AnandBaburajan commented on #103
Hey @GuptaTanisha, thanks! Please join our Gitter chatroom too!

[2021-03-12 06:35] khareyash05 opened #107 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1. Difference between GIT and GITHUB
2.How to clone,fork repository
3. How to create a branch and then use git push to push to repo
4. Create a PR
5. Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream

I would like to work on this as a part of GSSOC'

[2021-03-12 06:36] khareyash05 opened #145 "update contributing.md"

[2021-03-12 06:37] khareyash05 opened #152 "update contributing.md"

[2021-03-12 07:09] AnandBaburajan commented on #107
Hey, thanks for showing interest! But I believe our `contributing.md` has some great resource suggestions like https://opensource.guide/how-to-contribute/ already for beginners. Most of the the points mentioned above are covered in that link and we would prefer if beginners search on Google/SO when they're stuck.

[2021-03-12 07:22] anandbaburajan opened #151 "Add instruction in readme to lint code or setup automatic linting"
We can follow how the instruction is mentioned in https://github.com/RocketMeet/RocketMeet-client along with setting up the ESLint - VS Code extension.

[2021-03-12 07:22] AnandBaburajan opened #146 "Add instruction in readme to lint code or setup automatic linting"

[2021-03-12 08:36] murtaza1112 commented on #77
Hey , I am interested in this issue and would like to contribute to it . Can you please assign it me ?

[2021-03-12 10:29] #107 closed

[2021-03-12 10:30] #145 closed

[2021-03-12 10:30] #152 closed

[2021-03-13 06:31] AnandBaburajan opened #110 "Show the most voted time slot on the poll page"
The poll creator could be 'shown' the time slot with the most votes to help them chose the final time. Feel free to come up with ideas on how to 'show'!

[2021-03-13 07:17] JadeMaveric opened #111 "Guided tour for first time users"
**Is your feature request related to a problem? Please describe.**
The interface felt very ambiguous the first time I visited it. I figured it out eventually, but I feel a simple guided tour would go along way in improving UX.

**Describe the solution you'd like**
A (skip-able) guided tour that tells the users how to setup their poll. A client-side cookie (or local-storage variable) could be used

[2021-03-13 07:22] JadeMaveric commented on #106
Lol, that tweet is word.

One solution is the create a google calendar meet once everything is finalised. And then delete the data on our end. It serves no purpose once the user is done scheduling it. As a bonus, add everyone who voted as a participant in the gCal event. (We'll have to ask for their emails)

The user can then export the event to their prefered calendar and delete it from gCal if t

[2021-03-13 13:28] AnandBaburajan commented on #62
The footer is being handled at https://github.com/RocketMeet/RocketMeet-client/issues/96.
Guided tour for first time users at https://github.com/RocketMeet/RocketMeet-client/issues/111

[2021-03-13 13:29] AnandBaburajan commented on #111
Hey @JadeMaveric! Thanks for opening this issue and I agree with your points!

[2021-03-13 13:36] AnandBaburajan commented on #106
That's a nice idea, thanks! @anaswaratrajan @BreadGenie @VipinVIP @AthulJoshi @iamAravindks @PushkarDureja @manishprivet @namansamra what do y'all think about this? We're making some changes at https://github.com/RocketMeet/RocketMeet-client/issues/102 so we'll get voters' emails too.

:+1:

[2021-03-13 13:40] manishprivet commented on #106
Maybe we can create a calendar app, and sync with google Calendar through its apis? I don't think it's a good idea to not store details in the database. Ideally we should be agnostic of calendar services, or we'll be limiting our users to only those who use google Calendar.

[2021-03-13 13:41] manishprivet commented on #106
Regarding the tweet, since this is an open source app, we can always provide a self hosting option for people who care about privacy.

[2021-03-13 15:41] Aryaman1706 opened #148 "Adding validations for body of request."
**Feature Request**
- Adding validation for body/query params of express:Request.

**Advantages**
- Surety of client-side data we are working with.
- Prevention from various types of attacks including cross-site scripting, command injection, etc

**Implementation**
- I would like to work on this issue. Can you please assign this issue to me?
- There are a number of npm libraries to implement this

[2021-03-13 16:00] JadeMaveric commented on #111
Thanks! I'll start working on a PR

[2021-03-16 06:14] #144 closed

[2021-03-16 06:21] #153 closed, assigned to piall

[2021-03-16 14:17] asdofindia opened #114 "Support for choosing appointment slots"
One-on-one appointment slots for multiple people to schedule appointments with me is a feature I would love to self-host.

[2021-03-16 14:20] AnandBaburajan commented on #114
Thanks @asdofindia for the good suggestion! We'll definitely look into it and get some ideas from Calendly. :D

[2021-03-16 20:40] asdofindia commented on #114
https://easyappointments.org/ is another example. The problem with it is lack of flexibility

[2021-03-17 12:59] aniketbiswas21 opened #115 "Show Invited Polls in the Dashboard"
**Is your feature request related to a problem? Please describe.**
We can show the polls that a user has been invited to vote, but hasn't voted yet. This can be a very beneficial feature if a user logs in to the dashboard and is able to see the polls in which he is supposed to vote. This can also be extended as a way to see the ongoing poll count status of the meeting.

**Describe the solution you

[2021-03-17 13:16] Aryaman1706 opened #147 "Show invited polls in the dashboard."
This is an issue for the API implementation for a similar issue raised on RocketMeet-client by Aniket Biswas [here](https://github.com/RocketMeet/RocketMeet-client/issues/115).

**Implementation**
- We will have to relate polls to users. This can be done in a couple of ways like storing an array of users who have voted on this poll, this is not scalable and a better way would be to use virtuals as

[2021-03-17 13:28] AnandBaburajan commented on #114
Oh, thanks! Can you share some pain points, like flexibility with ...?

[2021-03-17 16:59] #95 closed

[2021-03-17 17:44] AnandBaburajan commented on #115
Thanks! This is a nice-to-have feature, but from the discussions at https://github.com/RocketMeet/RocketMeet-client/issues/106 and at our Gitter chatroom, we need to really think and discuss about new features since we're thinking about some major changes to our product. We would appreciate it if you could join the discussion and let us know what you think!

[2021-03-17 18:33] aniketbiswas21 commented on #115
Sure! Would love to

[2021-03-17 19:08] PushkarDureja commented on #106
I agree with the part but I think we should only delete the data once we are past the meeting date, So that we could still make use of the invite feature whenever we want (before the event). What do you think ?

[2021-03-17 19:08] Aryaman1706 commented on #106
Regarding data privacy, I mean we are using google OAuth and Gmail as SMTP. There is no escaping from tech giants like this but I think as far as an app asks me for my information that is already out there like my name and email address, I am fine with that.
I mean the app is helping me be more productive and one tap to login is great to have. The problem arises when the app is asking for permissi

[2021-03-17 19:13] Aryaman1706 commented on #106
I agree. We can run a cron job to do so on a separate thread/container to delete and meanwhile hide any poll whose date has passed. We can make a middleware to check if the actions performed on the poll have a valid date(`poll's date > new Date()`) or not.

[2021-03-19 05:19] AnandBaburajan commented on #106
Thank you everyone for your interesting ideas! We would appreciate it if everyone checked our Gitter chatroom. There are some important texts over there - we've a meet coming too to discuss things further! :D

[2021-03-20 07:40] namansamra commented on #110
I have two ideas regarding this:

1. We can just highlight the most voted option.
2. For better user experience we can add pie chart/bar graph of time slots and the details of user voted will only be shown
when the poll creator clicks on a button to see all the details (username and its selected option).
 -> It will be helpful when there are many voters ,so there will no use to scroll and see all

[2021-03-20 18:35] #100 closed

[2021-03-20 19:52] AnandBaburajan commented on #110
Cool! A pie chart sounds good.

[2021-03-21 06:00] namansamra commented on #110
Can I start to work on this? @AnandBaburajan

[2021-03-21 06:34] #146 closed

[2021-03-21 06:34] #151 closed, assigned to piall

[2021-03-21 08:32] #111 closed

[2021-03-22 14:39] AnandBaburajan commented on #103
Are you still interested in working on this?

[2021-03-24 12:06] mdPial commented on #104
I would like to work on that issue. Is it okay to use other npm packages?.  I want to use this one https://www.npmjs.com/package/@ericz1803/react-google-calendar

[2021-03-24 17:20] AnandBaburajan commented on #104
@mdPial Thanks :D yep, we can use other packages after discussing the idea you've in mind. Also since you're interested to look into the Google Calendar parts, I would like to know if you would like to work on https://github.com/RocketMeet/RocketMeet-client/issues/103 - which is much more important for us. What do you think?

[2021-03-24 18:26] mdPial commented on #104
I have looked into that issue. I can work on it.
For this issue If we just show all the events serially by date, I think we can do it by using the official calendar API.
![image](https://user-images.githubusercontent.com/43095489/112363058-4cebc100-8cff-11eb-937e-5c99bd056c2b.png)

I wanted to show a calendar like this as you said to embed the calendar. In this calendar, they get lots of interacti

[2021-03-25 03:22] GuptaTanisha commented on #103
Yes sir, sorry for the late reply

[2021-03-25 06:38] AnandBaburajan commented on #103
Hey @GuptaTanisha, good to know! No need to call me or anyone 'sir'. Do you've any doubts or do you need any input from our side to get started with this? :D

[2021-03-25 06:40] AnandBaburajan commented on #104
Showing another calendar on the page would be too much so maybe we can 'just show all the events serially by date' and time.

[2021-03-25 07:37] mdPial commented on #104
Okay. I Will start first with #103

[2021-03-25 07:39] mdPial commented on #104
As other person is still working with #103. Should I start now?

[2021-03-25 09:33] AnandBaburajan commented on #104
:+1:

[2021-03-26 18:12] AnandBaburajan opened #117 "Remove table of contents from readme"
https://twitter.com/natfriedman/status/1375430850620256257 (^_^")

[2021-03-26 18:16] AnandBaburajan opened #118 "Documentation"
We've our docs hosted at https://rocketmeet.gitbook.io/rocketmeet/ which is common for all three of our repos. It's empty at the moment. We also don't have much to put there. We can get started however, with the content from our readme.

[2021-03-27 04:37] #96 closed

[2021-03-27 07:37] RituCs commented on #118
I would like to work on this issue.

[2021-03-28 11:02] MitanshiKshatriya commented on #117
Can I be assigned on this issue?

[2021-03-28 11:29] AnandBaburajan commented on #118
Thanks @RituCs! Though we're happy to see you're interested, we would suggest you to take up a bit more challenging issues which would help you learn more. You're always welcome to ask doubts - so feel free too! Let us know which issue you pick or if you want suggestions.

[2021-03-28 11:31] AnandBaburajan commented on #117
@MitanshiKshatriya Sure you can, but this is a really simple task so we would suggest you to take a bit more challenging ones too.

[2021-03-28 11:47] MitanshiKshatriya commented on #117
@AnandBaburajan Yes surely I will, I look forward to working on other issues as well.

[2021-03-28 13:15] #117 closed

[2021-03-28 13:47] mdPial commented on #104
Will everyone will follow only one calendar?

[2021-03-28 13:55] AnandBaburajan commented on #104
I don't know much about Google Calendar but I think we can get events from the default personal calendar?

[2021-03-28 14:15] mdPial commented on #104
Yes we can.

[2021-03-29 11:08] AnandBaburajan commented on #62
Note that this issue doesn't need to be fixed by a single PR - can be split into multiple smaller PRs.

[2021-03-29 18:43] RituCs commented on #92
I would like to work on this issue.Please assign me. Thanks !

[2021-03-29 20:15] AshuKV commented on #118
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-03-30 04:21] AnandBaburajan commented on #118
Thanks for showing interest @AshuKV! But I'd like to suggest you to take up a bit more challenging issues.

[2021-03-30 15:13] mdPial commented on #104
Sorry for taking a long time. Many things came at once day after day( assignment+exam+hackathon ) :sweat:   . I will start working fully from tomorrow.

[2021-03-30 15:27] AnandBaburajan commented on #104
Hakuna matata! Is the hackathon part of Local Hack Day? Just a guess :D Thanks for joining us again.

[2021-03-30 15:51] mdPial commented on #104
😆 thought japanese language.

Not actually. I participated in another hackathon. But I am participating in Local Hack Day also. But it's not pressuring me 😃. I am solving only easy ones 😂  to save time.

 😁

[2021-03-31 15:35] AnandBaburajan opened #121 "Readme: Misleading instructions for .env.production"
In our readme, it's mentioned to create both .env.production and .env.development in the **Setup** section, which is incorrect. They should be in the **Development** and **Deployment** sections respectively, Also, 'development' should be 'production' [here](https://github.com/RocketMeet/RocketMeet-client/blob/main/.env.production.example#L15).

Edit: also in the **Setup** section, it's mentioned t

[2021-04-01 04:26] AnandBaburajan commented on #106
From the ideas suggested here, we've decided to go forward with [this](https://github.com/RocketMeet/RocketMeet-client/issues/102#issuecomment-796532083) idea - so we'll only store the public polls (for a week or sth before they would be deleted by a cron job). Public and protected polls would be deleted as soon as the invites are sent to attendees (which is yet to be added). And yes, we would be

[2021-04-01 04:26] AnandBaburajan commented on #106
Please check our Gitter chat for more details.

[2021-04-01 04:29] AnandBaburajan opened #122 "'If need be' option"
Users can be provided a 'If need be' option to vote time slots which are okay-ish but aren't ideal.

[2021-04-01 04:31] AnandBaburajan opened #123 "'Set deadline for poll' option"
Set a deadline to receive votes in time. After the deadline, no more votes are allowed.

[2021-04-01 07:10] BreadGenie commented on #102
Will there be share invite link option with private mode or just send mail option?

[2021-04-01 08:41] AnandBaburajan commented on #102
Maybe neither of those - we could have a box on the create poll page itself (under the private option) to enter the email IDs?

[2021-04-01 09:58] himanshu007-creator commented on #121
HI, i would like to work on this issue. Please assign me this issue.

[2021-04-01 11:00] AnandBaburajan commented on #121
Hi @himanshu007-creator? Thanks for showing interest! Can you share what made you interested in this issue?

[2021-04-01 12:53] himanshu007-creator commented on #121
its the <code>gssoc</code> label sir,

[2021-04-01 13:15] AnandBaburajan commented on #121
Oh, okay. We would appreciate it if you check out our project and find an issue which interests you. Feel free to let us know if you've any doubts! Looking forward to your response!

[2021-04-02 14:45] AnandBaburajan commented on #105
@AnshMishra2001 if you're still interested, pls let us know and also share what you plan to do, thanks!

[2021-04-02 14:46] AnandBaburajan commented on #103
@GuptaTanisha if you're still interested, pls let us know and also share what you plan to do, your doubts, etc, thanks!

[2021-04-02 14:47] AnandBaburajan commented on #98
@yashvb if you're still interested, pls let us know and also share what you plan to do, thanks!

[2021-04-02 14:47] AnandBaburajan commented on #93
@Amit366 if you're still interested, pls let us know and also share what you plan to do, thanks!

[2021-04-02 14:47] AnandBaburajan commented on #77
@murtaza1112 if you're still interested, pls let us know and also share what you plan to do, thanks!

[2021-04-02 14:49] Amit366 commented on #93
I am having my sem exams. So I don't think I can contribute.

[2021-04-02 14:52] AnandBaburajan commented on #93
Hakuna matata - you're welcome to contribute after your exams too.

[2021-04-02 14:52] viveknathani opened #124 "A shell script to produce .env from .json file"
The onboarding/setup process for a developer into the RocketMeet ecosystem can get a bit lengthy. Gotta setup firebase and then copy the vars from the .json file to .env

A shell script could help to produce .env files for each repository from .json files that we get from Firebase.

Path to the downloaded .json files could be passed as command-line arguments or the user could be prompted for it. T

[2021-04-02 14:54] Amit366 commented on #93
Ok thank you

[2021-04-02 17:03] GuptaTanisha commented on #103
Sorry sir I am of electrical ,I am busy in academics for exams.
It requires a lot of research to solve this issue. Is it okay if I will do this after exams??

[2021-04-02 17:07] AnandBaburajan commented on #103
Hakuna matata - yes you can work on this after your exams but only if this issue hasn't been solved by someone else already by then. This is quite an urgent issue, that's why. But you would still be welcome to work on other issues :D Also no need to call anyone sir/ma'am.

[2021-04-02 17:50] murtaza1112 commented on #77
I'm really sorry , I got caught with exams for the past few weeks , I'm going through it right now , I'll get it resolved asap .

[2021-04-02 18:13] AnandBaburajan commented on #77
Hey, hakuna matata! You don't need to work on this right now! :D you're welcome after exams too! I've just unassigned you for the moment in case there are others interested. Thanks for showing interest! :)

[2021-04-03 08:09] viveknathani commented on #124
All right, I will take this up. Could you please assign it to me, @AnandBaburajan?

[2021-04-04 00:23] akshay1027 opened #125 "Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase."
**Is your feature request related to a problem? Please describe.**
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 03:47] AnandBaburajan commented on #125
Thanks!

[2021-04-04 07:01] AshuKV commented on #125
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-04 07:05] AnandBaburajan commented on #125
Thanks @AshuKV for showing interest! I think it's better if this issue was taken up by someone who's really new to open source.

[2021-04-04 07:23] akshay1027 commented on #125
Can I work on this ? @AnandBaburajan

[2021-04-04 07:28] AnandBaburajan commented on #125
If you're quite new to open source, find RocketMeet interesting and wish to get started with this issue, yes.

[2021-04-04 08:52] akshay1027 commented on #125
Thanks!

[2021-04-04 16:38] AnandBaburajan commented on #125
Ah, one of the comments mentions that this doesn't work at GitHub (^_^") I don't have any other solutions in mind and I don't think there are any solutions to this. Also this issue isn't that important so maybe we can skip this. If you're interested in working on some other issues, hop on to our Gitter chat and we can discuss your interests!

[2021-04-04 17:31] akshay1027 commented on #125
Sure thanks! Let me close this one!

[2021-04-04 17:31] #125 closed

[2021-04-08 07:41] VishnuSanal opened #128 "Small glitch in 404 page"
**Describe the bug**

rocketmeet.me/404 <- Here the hyperlink is given to 'homepage', I thing it should be given to 'here' and change 'here's' to 'here is' :)

Plus, we can't recognise the text has a hyperlink

**To Reproduce**
Steps to reproduce the behavior:
1. Go to rocketmeet.me/404
2. See the bug

**Expected behavior**
Text is changed as expected & the text with hyperlink is underlined as usu

[2021-04-08 09:35] akshatvirmani opened #129 "To add contributor's name in README.md file"
**Is your feature request related to a problem? Please describe.**
To add contributor's name in README.md file.

[2021-04-08 09:35] akshatvirmani commented on #129
I would like to work on this issue. Kindly assign this to me.

[2021-04-09 09:42] AnandBaburajan commented on #129
Hey @akshatvirmani! We would prefer if the contributor's names were on our about page, like most other open source projects, We would be happy if you're interested to work on that at #98. Feel free to let us know if you've any doubts. Thanks for showing interest! :)

[2021-04-09 09:42] #129 closed

[2021-04-10 08:05] nishihere19 commented on #128
Can I work on this under GSSOC'21?

[2021-04-10 08:05] nishihere19 commented on #123
I would like to work on this feature. Kindly assign it to me.

[2021-04-10 09:19] AnandBaburajan commented on #123
Hey @nishihere19! Thanks for showing interest!

[2021-04-11 16:20] shobit1337 commented on #77
Hey @AnandBaburajan By homepage you mean on the user's dashboard right?

If no one is currently working on this issue. I would like to try this one!

[2021-04-11 17:08] AnandBaburajan commented on #77
I meant the homepage actually, like "100 polls created so far!" or something. But from our discussions at https://github.com/RocketMeet/RocketMeet-client/issues/106, I think we won't be having this feature in the future. We should have closed this issue! Thanks for showing interest nevertheless! You're welcome to work on other issues!

[2021-04-11 17:08] #77 closed

[2021-04-14 07:34] JadeMaveric opened #130 "Allow inviter to edit votes"
**Is your feature request related to a problem? Please describe.**
This applies mainly to public polls (once #102 kicks in). As an inviter, I'd like the option to merge/delete votes, for when my invitees screw something up. Or someone decides to troll.

**Describe the solution you'd like**
In short I'd like to the inviter to able to edit votes, but full blown edit priviledges would be overkill. An

[2021-04-14 07:47] JadeMaveric commented on #130
An extension to this, we can also allow invitees to edit their own votes. This would apply for private and protected modes

[2021-04-19 11:45] ponikar commented on #64
@manishprivet You can use Redux with NextJs.
Things get a little bit tricky when SSR
But we have the library called next-redux-wrapper. It has done this SSR store job amazingly,
Check it out.

[2021-04-23 20:03] AnandBaburajan commented on #121
We need to mention that there should be a single firebase project associated with all the services. Maybe also mention that the email encryption key and iv need to be the same for all services.

[2021-05-01 06:22] #62 closed

[2021-05-01 06:22] #128 closed

[2021-05-01 10:09] muhammedShamal opened #132 "Option to edit title, description and time-slots"
After creating a poll, if the user wants to change the title, description and/or the time-slots, there is no way except creating a new poll. So it would be nice to have an option to edit the poll.

[2021-05-01 11:44] BreadGenie commented on #37
I was wondering on how to implement adjusting the interval and moving the slots. One idea that came to my mind would be to use press and hold (long press) and then drag either for adjusting the interval or for moving the slots.
Any other ideas?

[2021-05-01 15:35] AnandBaburajan commented on #37
Thanks! Yep, this could work.

[2021-05-01 16:20] AnandBaburajan commented on #5
@manishprivet do you have any doubts or do you need something to continue working on this?

[2021-05-01 16:29] manishprivet commented on #5
Hi @AnandBaburajan, I was in the process of recovering from COVID-19 for the past month. Is it okay if I get back on it in a few days?

[2021-05-01 16:33] AnandBaburajan commented on #5
Oh. Yep!

[2021-05-06 18:43] VishnuSanal opened #133 "Hint dialog boxes in welcome tour do not point to the right element"
**Describe the bug**
Refer to the screenshot provided. The bottom row is while using full-screen on my monitor & the top row is while using normally.

**To Reproduce**
Steps to reproduce the behaviour:
1. Refer to the welcome tour

**Expected behaviour**
The dialogs point to their respective elements

**Screenshots**
![bitmap](https://user-images.githubusercontent.com/50027064/117349263-d084fa00-a

[2021-05-06 18:46] AnandBaburajan commented on #133
Hey @VishnuSanal! Looks like you're using an old version of the client. Can you fetch the main branch or check the live site? :D

[2021-05-06 18:50] VishnuSanal opened #134 "Typo in issue-template (Issue Bug)"
Typo in the following lines in the issue-template (Issue-Bug)

L#14 -> `Steps to reproduce the behavior`
L#20 -> `Expected behavior`

L#18 -> `4. See error` (Just a warning - It should be see the error)

[2021-05-06 18:52] AnandBaburajan commented on #132
Indeed, this would be quite helpful. Thanks for opening the issue! :D

[2021-05-06 19:04] VishnuSanal commented on #133
Hello, @AnandBaburajan Thank you for the quick response!

I'm really sorry to have missed that. I looked into the new design. And, can't resist saying that it's awesome :)

Just a small thing I noticed in the welcome tour. Please refer to the screenshot

![image](https://user-images.githubusercontent.com/50027064/117351187-0cb95a00-aecb-11eb-99b3-f4aa08b837a6.png)

This is (5/6) and it appears to

[2021-05-06 19:21] AnandBaburajan commented on #133
Thanks :D

Ah, I thought this issue was fixed with the UI update because I'm not able to reproduce it on Chrome on Linux. Will check, thanks.

[2021-05-10 12:00] #154 closed, assigned to Ayushisood

[2021-05-16 19:16] #143 closed

[2021-05-16 19:16] #142 closed

[2021-05-16 19:16] #141 closed, assigned to nobody

[2021-05-16 19:16] #140 closed, assigned to iamAravindks, AthulJoshi

[2021-05-16 19:30] AnandBaburajan commented on #106
We've decided not to delete any polls - we'll simply provide the option to self-host RocketMeet (which is what we suggest too).

[2021-05-16 19:30] #106 closed

[2021-05-16 19:32] AnandBaburajan opened #136 "Private polls"
Continuation of https://github.com/RocketMeet/RocketMeet-client/issues/102#issuecomment-796532083.

[2021-05-16 19:33] AnandBaburajan commented on #102
Public and protected modes were added with #135. I've opened #136 for private mode.

[2021-05-16 19:33] #102 closed

[2021-05-16 19:35] #134 closed

[2021-05-16 19:38] AnandBaburajan commented on #93
Closing this since we no longer have the button (the mailer has been deprecated).

[2021-05-16 19:38] #93 closed

[2021-05-28 06:59] BreadGenie commented on #122
Can you explain a bit more about it?
Is it like allowing the voters to select the time slots that are beyond what the creator have made? 🤔

[2021-05-28 07:28] AnandBaburajan commented on #122
Nope. Currently voters mark their options which are best for them. The "if need be" votes would be a "second priority" kind of vote which are like "hey, I don't like these slots as much as my first priority slots, but if there's need, I'm okay with these". The "need" here could be helpful, for example, in the situation when no one's first priority options have an intersection. In that case, the po

[2021-05-28 07:45] BreadGenie commented on #122
Tried it out and it looks like a nice feature to have.
This would require PRs on both repos right?

[2021-05-28 07:50] AnandBaburajan commented on #122
Yep.

[2021-08-31 15:35] aysp-99 commented on #5
Hi. Sorry for being inactive for quite a while. I'd like to work on this feature. I've got a doubt, Would this feature be only used for "private polls"?

[2021-09-04 09:24] AnandBaburajan commented on #5
Hello @aysp-99! Welcome back! We've been inactive for a while but I plan to wrap up the MVP and launch this soon. This feature can be in all types of polls, right? Also, since you're interested in contributing here, what do you think about looking into https://github.com/RocketMeet/RocketMeet-client/issues/103? This is more interesting and important for us right now. Let me know what you think! :D

[2021-09-07 14:05] aysp-99 commented on #5
If I have understood correctly, the poll creator can only choose candidates for private and protected mode so the time zones would only be showed for those candidates.

Sure, I will look into it.

Thank you, really appreciate it.

[2021-09-10 08:51] AnandBaburajan commented on #5
Oh, yep! You're right!

:D

:D

[2021-12-22 05:11] letslunchpool opened #138 "npm run build fails"
**Describe the bug**
npm run build fails

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade react to 16.14.0
2. 'npm run build' in command line after cloning

**Desktop (please complete the following information):**
 - OS: Windows 10

[2021-12-22 17:11] AnandBaburajan commented on #138
Thank you @letslunchpool for reporting this! We'll look into this.

I got an email about your message, but I'm not able to access our chatroom on Gitter because of a 500 error so I'll address it here. First of all, I'm happy to see that you're interested in RocketMeet! I would be more happy to discuss and figure out how RocketMeet can integrate with your product. Can you please share an overview o

[2021-12-22 20:55] letslunchpool commented on #138
Hi Anand! Might be easier to walk through on a 5-10min call? I tried installing a local version but got stuck in the documentation. Is the email service depracated? Are you guys still actively developing RocketMeet?

Thanks,
Alex

[https://lh4.googleusercontent.com/UibCwKyRwqlAr_fhaS7F19L1wBIqzzuSn7W6OyzyG-iXpoGvYNvKoxqHB0zfuNAVamTOEg3F-tifOkS4xad1eT40yYAk4pgm7zquTaiAhAziC_EEgIJurGmXOsqxBDotaXyMch

[2021-12-23 11:58] AnandBaburajan commented on #138
Sure, can you pick a slot from https://rocketmeet.me/poll/61c463401f55950004e634d0? If none of the slots work, can you please create a new poll with your availability and share it here?

Ah.

Yep.

We put the development on hold for a while but will be continue developing next month onwards. It's still in its initial stages and hasn't been launched yet, so your feedback would be very helpful.

[2022-03-13 11:29] AnandBaburajan opened #163 "Handle long voter names overflow"
Handle long voter names overflow using ellipsis

[2022-03-31 12:20] AnandBaburajan commented on #5
We're not sure if there are users who need this feature, hence marking this issue as 'discussion' as of now.

If you would like this feature, please let us know!

[2022-03-31 12:23] AnandBaburajan commented on #21
Update: we need unit tests for everything mentioned above, and maybe more.

[2022-03-31 12:33] AnandBaburajan commented on #37
Updates: on mobile, only 1 hour slots can be created due to limitations in react-available-times. We would contribute to react-available-times but I think we should wait for some time to see how many users would want this to be fixed.

If you want to be able to select more than 1 hour slots on mobile, please let us know!

[2022-03-31 12:35] AnandBaburajan commented on #64
Closing this since we aren't using Redux anymore.

[2022-03-31 12:35] #64 closed

[2022-03-31 12:37] AnandBaburajan commented on #78
Closing this since we don't have this feature anymore. We can open it again later if/when we face it again.

[2022-03-31 12:37] #78 closed

[2022-03-31 12:37] #150 closed

[2022-03-31 12:40] AnandBaburajan commented on #94
Closing this since it's not reproducible now.

[2022-03-31 12:40] #94 closed

[2022-03-31 12:41] AnandBaburajan commented on #97
I'll take care of this.

[2022-03-31 12:41] #97 closed

[2022-03-31 12:48] AnandBaburajan commented on #98
Closing this for now because we're not sure if we really need an about page.

[2022-03-31 13:00] AnandBaburajan commented on #149
Update: to achieve this, we'll contact Vercel for their OSS sponsorship so that we can get a free Team plan.

[2022-03-31 13:16] #147 closed, assigned to nobody

[2022-03-31 13:17] AnandBaburajan commented on #115
Updates: we don't have the feature to invite participants as of now but let's leave this issue open because we might, soon.

[2022-03-31 13:18] AnandBaburajan commented on #121
Closing this since we're rewriting the entire readme.

[2022-03-31 13:18] #121 closed

[2022-03-31 13:19] #122 closed

[2022-03-31 13:21] AnandBaburajan commented on #133
Closing this since there's no tour anymore.

[2022-03-31 13:21] #133 closed

[2022-03-31 13:38] AnandBaburajan commented on #118
Closing this since we can use GitHub's wikis.

[2022-03-31 13:38] #118 closed

[2022-03-31 14:36] AnandBaburajan commented on #138
Hello @letslunchpool. We've fixed this issue and revamped the project. Please check it out and let us know your thoughts! : )

[2022-04-01 04:19] #138 closed

[2022-04-01 04:26] AnandBaburajan commented on #148
Update: our API endpoints are now inside `pages/api`.

[2022-04-01 04:29] AnandBaburajan commented on #105
Update: this is an interesting feature, although we're not sure if there are users interested in this.

[2022-04-01 04:34] AnandBaburajan commented on #104
Updates: `react-available-times`'s API seems to let users show their calendars on top of the time slots. Also, renaming this issue to support more calendars than just Google's.

[2022-04-01 04:36] AnandBaburajan commented on #104
An updated explanation for this feature: end switching tabs between Kukkee and personal/work calendars while selecting times by connecting Google, Outlook, etc., calendars.

[2022-04-01 04:38] AnandBaburajan opened #171 "Allow using OAuth providers"
We should let users login using Google, Microsoft, etc: https://next-auth.js.org/configuration/providers/oauth

[2022-04-01 04:46] AnandBaburajan opened #172 "Video conferencing integrations"
Automatically add [Jitsi Meet](https://github.com/jitsi/jitsi-meet), Zoom, Google Meet, Microsoft Teams, etc. meeting links when a user finalises the meeting time.

[2022-04-01 04:47] AnandBaburajan opened #173 "Customization"
Let poll creators keep their polls professional by adding their own logo and branding.

[2022-04-01 04:47] AnandBaburajan opened #174 "Participation confidentiality"
Lets poll creators choose whether to keep participants' votes public, always hidden or hidden till the poll is closed.

[2022-04-01 04:48] AnandBaburajan opened #175 "Email notifications"
Notify poll creator whenever a participant votes on their poll.

[2022-04-01 04:49] AnandBaburajan opened #176 "Comments"
Let the voters share their thoughts or questions about the event with the poll creator by commenting on the poll.

[2022-04-04 15:46] anandbaburajan opened #177 "Better ResponseMessage"
In [ResponseMessage.tsx#L5](https://github.com/Kukkee/Kukkee/blob/main/src/components/ResponseMessage.tsx#L5), add a `type` key to specify whether it's a `success` or `error` response.

[2022-04-05 19:16] AnandBaburajan commented on #173
Closing since done.

[2022-04-05 19:16] #173 closed

[2022-04-05 19:23] AnandBaburajan opened #178 "Email verification"
Deployment owners should have the option to enable email verification for new users trying to register.

[2022-04-06 15:58] Immortalin opened #179 "Live demo should not require login"
**Is your feature request related to a problem? Please describe.**
Having to sign up to play with the demo creates a lot of friction

**Describe the solution you'd like**
Live demo should not require auth, or a default account should be generated for the user.

**Describe alternatives you've considered**
N/A

[2022-04-06 16:31] #179 closed

[2022-04-07 05:39] AnandBaburajan opened #180 "Show user's timezone"
Show user's timezone on the poll voting page

[2022-04-09 10:38] jadlers commented on #86
Since I spent a little bit of time containerizing the application I thought I'd share the Dockerfile I created here. I know there are further steps required to build and publish the image on Docker Hub but it's a start!

[code]

I also pair it with a .dockerignore file for anyone building it locally so that their local node_modules and .env files aren't included in the built image.

[code]

[2022-04-10 07:01] AnandBaburajan commented on #86
Thank you @jadlers! I'm quite new to Docker-izing applications so this is quite helpful. We'll have an image on Docker Hub soon!

[2022-04-10 07:02] AnandBaburajan commented on #86
Also, looking forward to hearing any feedback on how we can improve Kukkee! : )

[2022-04-11 09:27] gingerlime opened #183 "use without registration"
**Is your feature request related to a problem? Please describe.**
One of the killer features of doodle (for me, and many people I know), is that you can create one instantly, without an account. Doodle is now trying hard to monetize, so they're hiding the option, but it's still there.

**Describe the solution you'd like**
use without registration

**Describe alternatives you've considered**
see a

[2022-04-11 11:04] #5 closed, assigned to manishprivet

[2022-04-14 22:56] wolftune commented on #172
Please prioritize Free/Libre/Open tools, not just include but put them *first* and label them as being FLO so that people can see the distinction between those and proprietary options. meet.jit.si being the dominant one to suggest at this time.

[2022-04-14 23:02] wolftune opened #188 "Duplicate the features and design of whenisgood.net"
whenisgood.net has a dramatically superior interface to all the other tools, at least for many use cases.

(Side note: https://framadate.org is already a completely functional FLO tool that does the style of polling that you seem to have started with, so that's not needed, what's needed is a FLO whenisgood replacement)

Whenisgood does all this:

- weekly generic option (not date-specific)
- 3 lev

[2022-04-15 04:17] AnandBaburajan commented on #172
Good point, thanks!

[2022-04-18 09:48] AnandBaburajan commented on #37
Let's checkout https://github.com/jquense/react-big-calendar too

[2022-04-20 05:37] AnandBaburajan opened #190 "Auth validation improvement"
- All the login and registration fields' validation errors must be shown live, and not just after submitting the login/register button.
- We're using regex for emails so we should check this out: https://davidcel.is/posts/stop-validating-email-addresses-with-regex
- According to a user, our password requirements are strange. So, let's maybe go with something better like: "The password must be a mi

[2022-04-27 20:18] Leopere opened #192 "Doodle has options for booking available time slots with people can this have that?"
Bonus if there could maybe eventually be payment processor integration as well at some point.

[2022-04-28 03:41] AnandBaburajan commented on #192
Hello @Leopere. We're primarily focusing on "group polls". For booking pages, you can check out [Cal](https://github.com/calcom/cal.com).

CC @PeerRich.

[2022-04-28 03:49] AnandBaburajan opened #193 "Let poll creators specify their more preferred time slots"
It would be helpful for the poll creator if they can specify their more preferred time slots, i.e., the default time slots would be 'maybe' and then the poll creator should be able to specify their 'yes' time slots. More ideas on how we can solve this are welcome!

[2022-04-28 07:20] PeerRich commented on #192
hey hey thank you for tagging. We can help with Stripe. @AnandBaburajan also cool project you started here. wanna jump on a call? cal.com/peer

[2022-04-28 07:22] PeerRich commented on #104
talking from experience, connecting various calendars is a pain. we hope to make it easier and hope to release a proper library for that. not sure what your timeline here is

[2022-04-28 09:18] AnandBaburajan commented on #104
@PeerRich sounds interesting! We aim to at least integrate some popular calendars (after talking to our potential users) asap. Looking forward to checking out what you all build over there and maybe contributing there too.

[2022-04-28 09:21] AnandBaburajan commented on #192
@PeerRich thanks, yep! Happy to connect with you!

[2022-05-16 12:30] loranger opened #195 "Cannot run using docker-compose"
Hello,

I try to make Kukkee work using docker-compose, behind traefik reverse proxy, but struggle to succeed

Here is my setup:

[code]

I did clone the repository as the `source` folder

<details>
<summary>.env</summary>

[code]

</details>

<details>
<summary>docker-compose.yml</summary>

[code]

</details>

<details>
<summary>Dockerfile</summary>

[code]

</details>

When I try to reach kukkee

[2022-05-17 10:35] AnandBaburajan commented on #195
Hello @loranger. Maybe https://stackoverflow.com/a/61147916/6320130 or https://stackoverflow.com/a/71260383/6320130 or something related might help. We'll have an official Docker image soon. Also, just FYI, we're planning to substantially change the project due to some change of plans because of unforseen circumstances.

[2022-05-17 11:53] loranger commented on #195
Thanks for your support, but I think I'll wait for an official docker image, it sounds wiser ;)

Thanks again

[2022-05-17 11:53] #195 closed

[2022-05-19 04:09] technowhizz commented on #171
+1

[2022-06-06 08:43] #192 closed

[2022-06-06 08:44] #190 closed

[2022-06-06 08:44] AnandBaburajan commented on #178
Closing since the new Kukkee doesn't have emails.

[2022-06-06 08:44] #178 closed

[2022-06-06 08:46] AnandBaburajan commented on #177
And update the toast's position so that it doesn't come over important areas, like over the create poll button.

[2022-06-06 08:46] AnandBaburajan commented on #176
Closing since we want to keep Kukkee as simple as possible.

[2022-06-06 08:46] #176 closed

[2022-06-06 08:47] AnandBaburajan commented on #175
Closing since the new Kukkee doesn't use emails.

[2022-06-06 08:47] #175 closed

[2022-06-06 08:49] AnandBaburajan commented on #174
Closing since Kukkee now, by default, doesn't show others' votes to others.

[2022-06-06 08:49] #174 closed

[2022-06-06 08:49] AnandBaburajan commented on #172
Closing since we want to keep Kukkee as simple as possible.

[2022-06-06 08:49] #172 closed

[2022-06-06 08:49] AnandBaburajan commented on #171
Closing since we want to keep Kukkee as simple as possible and there's no auth now.

[2022-06-06 08:50] AnandBaburajan commented on #136
Closing since all polls are public by default now and there's no login, to keep Kukkee as simple as possible.

[2022-06-06 08:50] #136 closed

[2022-06-06 08:52] AnandBaburajan commented on #130
We can give the poll creator vote delete permissions.

[2022-06-06 08:52] AnandBaburajan commented on #123
Closing since we want to keep Kukkee as simple as possible.

[2022-06-06 08:53] AnandBaburajan commented on #115
Closing since we want to keep Kukkee as simple as possible.

[2022-06-06 08:53] AnandBaburajan commented on #105
Closing since we want to keep Kukkee as simple as possible, and there's no plan for calendar integrations now.

[2022-06-06 08:54] AnandBaburajan commented on #104
Closing since we want to keep Kukkee as simple as possible, and there's no plan for calendar integrations now.

[2022-06-06 08:54] AnandBaburajan commented on #103
Closing since we want to keep Kukkee as simple as possible, and there's no plan for calendar integrations now.

[2022-06-06 08:54] #123 closed

[2022-06-06 08:54] #171 closed

[2022-06-06 08:55] #115 closed

[2022-06-06 08:55] #105 closed

[2022-06-06 08:55] #104 closed

[2022-06-18 00:53] lukaszliniewicz commented on #180
That would be a superb addition, yes.

[2022-06-19 06:22] AnandBaburajan commented on #180
Fixed in https://github.com/AnandBaburajan/Kukkee/commit/270c8ed421c8f1100a845958430e1ebe61d86d5a

[2022-06-19 06:22] #180 closed